extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner 
    .col-12 
      h1= title
       small &nbsp;Popular Chinese Food
  .row 
    .error= message
    each food in foods
      .col-md-3
       img(src=food.imgName alt='')   
       .card       
          h4 
            a(href=`/foods/${food._id}`)=food.name
            small &nbsp;
            +outputRating(food.rating)
          h6= food.type 
           
  
   
    